*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fbfbfd;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
margin-top: 4rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.name,.email,.phone,.formBtn{
font-size: 20px;
margin-bottom: 2rem;
border-radius: 4px;
border: 2px solid #e7e7e7;
outline: none;
padding: 16px 12px;
}
.formBtn{
 padding: 10px 20px;
 cursor: pointer;
}